
@{
    ViewBag.Title = "Login";
}
<h2>Menu</h2>
<form action="" name="main">
    <center>
        <table border="0" cellspacing="0" width="300px" align="center" style="margin: 30px auto 0px;">
            <tbody>
                <tr>
                    <td align="center">
                        <img src="" border="0" alt="Caixa Econômica Federal - Caixa Aqui" width="128" height="127">
                    </td>
                </tr>
            </tbody>
        </table>
        <table id="menu-principal" cellspacing="0" align="center" border="0">
            <tbody>
                <tr>
                    <td>
                        <a href="#" class="btn-azul" title="Serviços ao Cliente">Serviços ao Cliente</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:goToURLPinpad('/caixaaqui/CaixaAquiController/senha/alteracao_senha');" class="btn-azul" title="Alteração Senha de Acesso">Alteração Senha de Acesso</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="btn-azul" title="Relatórios">Relatórios</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="btn-azul" title="Solicitações Diversas">Solicitações Diversas</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 5px;">
                        <a href="#" class="btn-laranja" title="Sair">Sair</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellspacing="0" style="margin: 30px auto; width: 415px;">
            <tbody>
                <tr>
                    <td align="center">
                        <font class="titRodape">Código do Convênio</font>
                    </td>
                    <td align="center">
                        <font>000294535</font>
                    </td>
                    <td align="center">
                        <font class="titRodape">Identificação do Operador</font>
                    </td>
                    <td align="center">
                        <font>Sistema</font>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</form>
