<?xml version="1.0"?>
<appSettings>
  <add key="Usuario" value="83350462391" />
  <add key="Senha" value="Uira2016!" />
  <add key="UsuarioBloqueado" value="True" />
  <add key="RecadastrarSenha" value="False" />
  <add key="Revalidado" value="False" />
  <add key="Editado" value="False" />
  <add key="SicaqUsuarioBloqueado" value="False" />
  <add key="SicaqDesbloquearUsuario" value="False" />
  <add key="roboPortalRhSettings" value="F:\windowsServices\wiz.robo.portalrh\Movix.Robo.Ciweb.AlteracaoSenha.Service.exe.config" />
</appSettings>