<?xml version="1.0"?>
<appSettings>
  <add key="UsuarioBloqueado" value="True" />
  <add key="RecadastrarSenha" value="False" />
  <add key="Revalidado" value="False" />
  <add key="Editado" value="False" />
  <add key="SicaqUsuarioBloqueado" value="False" />
  <add key="roboCiwebSettings" value="D:\WINDOWS_SERVICES\MOVIX_ROBOS_CIWEB_ALTERACAOSENHA\Movix.Robo.Ciweb.AlteracaoSenha.Service.exe.config" />
  <add key="roboSicaqSettings" value="D:\WINDOWS_SERVICES\MOVIX_ROBOS_SICAQ_ALTERACAOSENHA\Movix.Robo.Sicaq.AlteracaoSenha.WindowsService.exe.config" />
</appSettings>