<style>
    .menu_main {
        background-color: #fff;
        width: 100%;
        height: 100%;
    }


    HTML {
        font: 10pt arial, sans-serif, verdana, helvetica;
        background: #FFFFFF;
        margin: 0px;
        padding: 0px 0px 45px 0px;
        padding: 0px 0px 210px 0px;
        height: 100%;
        overflow: hidden;
    }

    .menu_destaques {
        float: left;
    }

    .inside_menu {
        border-left: #c3c0e9 1px dashed;
        margin: 25px 20px 0px 15px;
        padding-left: 15px;
        width: 45%;
        float: right;
        padding-top: 2px;
    }

    .inside_menu_item {
        height: 50px;
        width: 95%;
        border-bottom: 1px solid #C3C0E9;
        margin: 10px 0px 0px 0px;
    }

    A {
        color: #003f8f;
        text-decoration: none;
    }

    .inside_menu_item A {
        color: #333;
    }

    IMG {
        border: 0px;
        vertical-align: middle;
        border: none;
    }

    .inside_menu_item IMG {
        float: left;
        margin-right: 8px;
    }

    .inside_menu_item H1 {
        color: #0039c4;
        font-size: 13pt;
        margin: 0px;
    }

    .inside_menu_item P {
        margin: 0px;
        font-size: 9pt;
    }

    .destaque_portal {
        width: 380px;
        background-color: #E9EFFF;
        font: 16px "Trebuchet MS",Verdana,Arial,sans-serif;
        margin: 25px 0px 0px 20px;
        padding: 10px;
    }

    B.niftycorners {
        display: block;
    }

    B.niftycorners {
        display: block;
    }

    .destaque_portal H1 {
        color: #0037b5;
        font-size: 16pt;
        margin: 5px;
    }

    .destaque_portal P {
        color: #333;
        font-size: 9pt;
        margin: 5px;
    }

    B.niftycorners * {
        display: block;
        height: 1px;
        line-height: 1px;
        font-size: 1px;
        overflow: hidden;
        border-style: solid;
        border-width: 0 1px;
    }

    B.rb8 {
        margin: 0;
        height: 2px;
    }

    B.rb7 {
        margin: 0 1px;
        height: 2px;
    }

    B.rb6 {
        margin: 0 2px;
    }

    B.rb5 {
        margin: 0 3px;
    }

    B.rb4 {
        margin: 0 4px;
    }

    B.rb3 {
        margin: 0 5px;
    }

    B.rb2 {
        margin: 0 6px;
        border-width: 0 2px;
    }

    B.rb1 {
        margin: 0 8px;
        border-width: 0 2px;
    }

    B.niftycorners * {
        display: block;
        height: 1px;
        line-height: 1px;
        font-size: 1px;
        overflow: hidden;
        border-style: solid;
        border-width: 0 1px;
    }

    B.rb8 {
        margin: 0;
        height: 2px;
    }

    B.rb7 {
        margin: 0 1px;
        height: 2px;
    }

    B.rb6 {
        margin: 0 2px;
    }

    B.rb5 {
        margin: 0 3px;
    }

    B.rb4 {
        margin: 0 4px;
    }

    B.rb3 {
        margin: 0 5px;
    }

    B.rb2 {
        margin: 0 6px;
        border-width: 0 2px;
    }

    B.rb1 {
        margin: 0 8px;
        border-width: 0 2px;
    }
</style>
<div class="body-content">
    <div class="row">
        <DIV id=main>
            <DIV class=menu_main>
                <DIV class=menu_destaques>
                    <DIV id=destaque_portal class=destaque_portal style="PADDING-BOTTOM: 0px; PADDING-TOP: 0px">
                        <B class=niftycorners style="MARGIN-BOTTOM: 0px; BACKGROUND: #fff; MARGIN-LEFT: -10px; MARGIN-RIGHT: -10px"><B class=rb1 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb2 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb3 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb4 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb5 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb6 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb7 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb8 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B></B>
                        <H1>Seja bem-vindo</H1>
                        <P align=justify>Este portal foi criado com objetivo de permitir um amplo controle no cadastro de Empreendimentos. Com a sua utilização, será possível ter informaçõees das unidades, do estágio de negociação e da concessão de crédito, bem como um canal de comunicação entre Construtoras, Associados e CAIXA.</P><B class=niftycorners style="BACKGROUND: #fff; MARGIN-TOP: 0px; MARGIN-LEFT: -10px; MARGIN-RIGHT: -10px"><B class=rb8 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb7 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb6 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb5 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb4 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb3 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb2 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B><B class=rb1 style="BORDER-TOP-COLOR: #f4f7ff; BORDER-LEFT-COLOR: #f4f7ff; BORDER-BOTTOM-COLOR: #f4f7ff; BORDER-RIGHT-COLOR: #f4f7ff; BACKGROUND-COLOR: #e9efff"></B></B>
                    </DIV>
                </DIV>
                <DIV class=inside_menu>
                    <DIV class=inside_menu_item>
                        <A href="#">
                            <IMG src="~/imgs/empreendimento.gif">
                            <H1>Empreendimentos</H1>
                            <P>Manter dados dos Empreendimentos, inclusive informações de suas unidades.</P>
                        </A>
                    </DIV>
                    <DIV class=inside_menu_item>
                        <A href="#">
                            <IMG src="~/imgs/empreendimento.gif">
                            <H1>Empréstimo à Infraestrutura</H1>
                            <P>Manter dados dos Empréstimo à Infraestrutura.</P>
                        </A>
                    </DIV>
                    <DIV class=inside_menu_item>
                        <A href="#">
                            <IMG src="~/imgs/entidadegestora.gif">
                            <H1>Entidades Gestoras</H1>
                            <P>Empresas e usuários credenciados pela CAIXA</P>
                        </A>
                    </DIV>
                    <DIV class=inside_menu_item>
                        <A href="#">
                            <IMG src="~/imgs/pessoa.gif">
                            <H1>Cadastrar Pessoas</H1>
                            <P>Informações de pessoas e empresas participantes de negociações.</P>
                        </A>
                    </DIV>
                    <DIV class=inside_menu_item>
                        <A href="#">
                            <IMG src="~/imgs/lists.gif">
                            <H1>Sipah</H1>
                            <P>Sistema Padrão de Atendimento à Habitação.</P>
                        </A>
                    </DIV>
                    <DIV class=inside_menu_item>
                        <A href="#">
                            <IMG src="~/imgs/help.gif">
                            <H1>Ajuda</H1>
                            <P>Aprenda a usar este portal. Acesse a nossa sessão de ajuda.</P>
                        </A>
                    </DIV>
                    <DIV class=inside_menu_item>
                        <A href="#">
                            <IMG src="~/imgs/find.gif">
                            <H1>Pesquisar Contratos</H1>
                            <P>Pesquise contratos.</P>
                        </A>
                    </DIV>
                    <DIV class=inside_menu_item>
                        <A href="#">
                            <IMG src="~/imgs/simulador.gif">
                            <H1>Simuladores</H1>
                            <P>Simule as opções de financiamento.</P>
                        </A>
                    </DIV>
                </DIV>
            </DIV>
        </DIV>
    </div>
</div>


