<body ms_positioning="GridLayout">
    <form name="Form1" id="Form1" action="https://www.portaldorh.com.br/portal_GPCS/Auto_PrincipalConteudo.aspx" method="post" target="">
        <div>
            <input name="__EVENTTARGET" id="__EVENTTARGET" type="hidden" value="">
            <input name="__EVENTARGUMENT" id="__EVENTARGUMENT" type="hidden" value="">
            <input name="__LASTFOCUS" id="__LASTFOCUS" type="hidden" value="">
            <input name="__VIEWSTATE" id="&#10;__VIEWSTATE" type="hidden" value="">
        </div>
        <script type="text/javascript">//<![CDATA[
var theForm = document.forms['Form1'];
if (!theForm) {
    theForm = document.Form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]></script>

        <div>
            <input name="__EVENTVALIDATION" id="__EVENTVALIDATION" type="hidden" value="/wEWKQL+raDpAgKf2M2/AgLc2YajBQKls8mIDAKq+dKcDQKA17umBgKx3MaGAQKP8vfGBQLoyff4BAKejIDABQKqh6UzAsW50+QEAoTTyYsBAtnZ4JsFAtzZsqMFAqWzlYoMAsrj6r8LAu7K4O0FAtzZwqMFAqWzhYoMAqeghs4OAt7ZhqMFAqOzyYgMArD06qUCAuLZhqMFAp+zyYgMApqPm84CAo6PzIUPAuPZhqMFAp6zyYgMAqzjmNcEAvX+ieYNApO3jDgC5dmGowUCnLPJiAwC4dmGowUCoLPJiAwCsOOY1wQC8f6J5g0C+MGzwQ0C3uTvsgJecrvFST0KqBfCNHWCtL3iCBoL2g==">
        </div>
        <table width="100%" height="100%" id="Table70" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td width="100%" align="left">
                        <table width="100%" id="Table71" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="40" height="25" align="left" class="backgroundIMAGE-10" valign="bottom"></td>
                                    <td width="100" height="25" align="left" valign="bottom"><input name="btnAba1" class="botao-01" id="btnAba1" style="border-style:None;width:150px;" type="submit" value="PRINCIPAL"></td>
                                    <td width="5" height="25" align="left" valign="bottom"></td>
                                    <td width="100" height="25" align="left" valign="bottom"></td>
                                    <td width="5" height="25" align="left" valign="bottom"></td>
                                    <td height="25" align="left" valign="bottom"></td>
                                    <td width="8" height="25" align="right" valign="middle" colspan="10">
                                        <table id="tblPersonalizacao" style="width:100%;border-collapse:collapse;" border="0" cellspacing="0" cellpadding="0"></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="5" class="background-01" colspan="17"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%" height="100%" align="left" valign="top">
                        <table width="100%" height="100%" id="Table2" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="5">
                                        <img id="Image61" style="height:5px;width:5px;border-width:0px;" src="images/vazio.gif">
                                    </td>
                                    <td width="25%" align="left" valign="top">
                                        <div id="pnlEsquerdo" style="width:100%;">
                                            <div class="flexcontainer" id="pnlAscx111">
                                                <div class="background-01" id="panel111">
                                                    <table style="height:5px;width:100%;" border="0">
                                                        <tbody>
                                                            <tr valign="middle">
                                                                <td align="left" style="width:90%;"><span class="fonte-04AB" id="lblTitulo111">Demonstrativo Pagto</span></td>
                                                                <td align="right" style="width:10%;"><input name="popHyp111" title="Informações da PageLet" id="popHyp111" style="border-width:0px;" onclick="javascript:window.open('https://www.portaldorh.com.br/Portal_GPCS/Auto_Info.aspx?nCodItem=1&amp;nCodSubItem=0&amp;nCodMod=1', '', 'width=300, height=215 left=30, top30');" type="image" src="images/info.gif"><img id="imgPopButVazio111" style="height:2px;border-width:0px;" src="vazio.gif"><input name="minmax111" title="Minimizar" id="minmax111" style="border-width:0px;" type="image" src="images/minimizar.gif" idflexpage="111" buttonname="minmax111" url="Auto_PgLetDemoPagto.ascx" status="1" subitem="0" coditem="1" codmod="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><div class="flexareaEsquerdo" id="ascx111" status="1">
                                                    <div id="controlsAscx111_pnlDemoPagto" style="width:100%;text-align:center;">

                                                        <div id="controlsAscx111_pnlDemoPagto2" style="width:96%;text-align:left;">

                                                            <div id="controlsAscx111_pnlDemopgtopdf" style="width:100%;">

                                                                <table width="100%" id="Table2" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="left" valign="middle">
                                                                                <table width="100%" id="Table3" border="0" cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="left" valign="middle">
                                                                                                <img id="controlsAscx111_Image14" style="height:5px;width:5px;border-width:0px;" src="images/vazio.gif">
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table width="100%" id="Table4" border="0" cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="left" valign="top" style="WIDTH: 1px">
                                                                                                <img id="controlsAscx111_Image13" style="height:5px;width:5px;border-width:0px;" src="images/vazio.gif">
                                                                                            </td>
                                                                                            <td width="15%" align="left" valign="top">
                                                                                                <a id="controlsAscx111_hypAcrobat" href="http://www.adobe.com.br" target="_blank"><img style="border-width:0px;" alt="Adobe" src="images/logo_adobe.gif"></a>
                                                                                            </td>
                                                                                            <td width="2" align="left" valign="top" style="WIDTH: 2px">
                                                                                                <img id="controlsAscx111_Image12" style="height:5px;width:5px;border-width:0px;" src="images/vazio.gif">
                                                                                            </td>
                                                                                            <td width="80%" align="left" valign="top">
                                                                                                <span class="fonte-07" id="controlsAscx111_Label4">Para ver este demonstrativo é preciso ter instalado o Acrobat Reader. Clique no logo se ainda não o possui.</span>
                                                                                            </td>
                                                                                            <td width="5" align="left" valign="top">
                                                                                                <img id="controlsAscx111_Image11" style="height:5px;width:5px;border-width:0px;" src="images/vazio.gif">
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table width="100%" id="Table5" border="0" cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="5">
                                                                                                <img id="controlsAscx111_Image10" style="height:5px;width:5px;border-width:0px;" src="images/vazio.gif">
                                                                                            </td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td width="5">
                                                                                                <img id="controlsAscx111_Image9" style="height:3px;width:3px;border-width:0px;" src="images/vazio.gif">
                                                                                            </td>
                                                                                            <td>
                                                                                                <img id="controlsAscx111_Image8" style="height:3px;width:3px;border-width:0px;" src="images/vazio.gif">
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                            <span class="fonte-07" id="controlsAscx111_Label2">Selecione a folha de pagamento:</span>
                                                            <select name="controlsAscx111$cboFolha" class="fonte-07" id="controlsAscx111_cboFolha" style="width:100%;" onchange="javascript:setTimeout('__doPostBack(\'controlsAscx111$cboFolha\',\'\')', 0)">
                                                                <option selected="selected" value="0&#9;0">Selecione uma folha</option>
                                                                <option value="13 SALARIO - ADIANTAMENTO&#9;3">13 SALARIO - ADIANTAMENTO</option>
                                                                <option value="PLR&#9;15">PLR</option>
                                                                <option value="13 SALARIO&#9;4">13 SALARIO</option>
                                                                <option value="PRO-LABORE&#9;10">PRO-LABORE</option>
                                                                <option value="FERIAS&#9;2">FERIAS</option>
                                                                <option value="MENSAL&#9;1">MENSAL</option>
                                                                <option value="MENSAL ESTAGIÁRIOS&#9;11">MENSAL ESTAGIÁRIOS</option>
                                                            </select>
                                                            <span class="fonte-07" id="controlsAscx111_lblDataReferencia">Selecione o mês:</span>
                                                            <br>

                                                            <select name="controlsAscx111$cboReferencia" class="fonte-07" id="controlsAscx111_cboReferencia" style="width:100%;"></select>
                                                            <br>
                                                            <input name="controlsAscx111$btnDemoConsultar" class="botao-03" id="controlsAscx111_btnDemoConsultar" type="submit" value="Consultar">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="flexcontainer" id="pnlAscx1115">
                                                <div class="background-01" id="panel1115">
                                                    <table style="height:5px;width:100%;" border="0">
                                                        <tbody>
                                                            <tr valign="middle">
                                                                <td align="left" style="width:90%;"><span class="fonte-04AB" id="lblTitulo1115">Enquetes</span></td>
                                                                <td align="right" style="width:10%;"><input name="popHyp1115" title="Informações da PageLet" id="popHyp1115" style="border-width:0px;" onclick="javascript:window.open('https://www.portaldorh.com.br/Portal_GPCS/Auto_Info.aspx?nCodItem=15&amp;nCodSubItem=0&amp;nCodMod=1', '', 'width=300, height=215 left=30, top30');" type="image" src="images/info.gif"><img id="imgPopButVazio1115" style="height:2px;border-width:0px;" src="vazio.gif"><input name="minmax1115" title="Minimizar" id="minmax1115" style="border-width:0px;" type="image" src="images/minimizar.gif" idflexpage="1115" buttonname="minmax1115" url="Auto_PgLetEnquetes.ascx" status="1" subitem="0" coditem="15" codmod="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><div class="flexareaEsquerdo" id="ascx1115" status="1">

                                                    <meta name="vs_showGrid" content="True">
                                                    <div id="controlsAscx1115_Panel1" style="height:56px;width:100%;">

                                                        <table width="100%" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="100%">

                                                                        <span class="fonte-10" id="controlsAscx1115_lblMsg" style="display:inline-block;color:DarkGray;width:100%;">Não há enquetes disponíveis.</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="100%" align="left">
                                                                        <a class="botao-04" id="controlsAscx1115_lnkSugEnquetes" href="javascript:__doPostBack('controlsAscx1115$lnkSugEnquetes','')">Sugerir Enquete</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="100%" align="left">
                                                                        <input name="controlsAscx1115$btnResultadoEnquete" class="botao-04" id="controlsAscx1115_btnResultadoEnquete" type="submit" value="Resultado Enquetes">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div><div class="flexcontainer" id="pnlAscx1111">
                                                <div class="background-01" id="panel1111">
                                                    <table style="height:5px;width:100%;" border="0">
                                                        <tbody>
                                                            <tr valign="middle">
                                                                <td align="left" style="width:90%;"><span class="fonte-04AB" id="lblTitulo1111">Informações</span></td>
                                                                <td align="right" style="width:10%;"><input name="popHyp1111" title="Informações da PageLet" id="popHyp1111" style="border-width:0px;" onclick="javascript:window.open('https://www.portaldorh.com.br/Portal_GPCS/Auto_Info.aspx?nCodItem=11&amp;nCodSubItem=0&amp;nCodMod=1', '', 'width=300, height=215 left=30, top30');" type="image" src="images/info.gif"><img id="imgPopButVazio1111" style="height:2px;border-width:0px;" src="vazio.gif"><input name="minmax1111" title="Minimizar" id="minmax1111" style="border-width:0px;" type="image" src="images/minimizar.gif" idflexpage="1111" buttonname="minmax1111" url="auto_pgletInfoAcesso.ascx" status="1" subitem="0" coditem="11" codmod="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><div class="flexareaEsquerdo" id="ascx1111" status="1">

                                                    <meta name="vs_showGrid" content="True">
                                                    <div id="controlsAscx1111_pnlinformacoesdeacesso_fechar" style="width:100%;">

                                                        <table width="100%" class="borda-0410" id="Table1" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" class="borda-04100" valign="middle" colspan="4">
                                                                        <span class="fonte-07" id="controlsAscx1111_Label1">Você acessou o Portal  RH </span>
                                                                        <span class="fonte-06" id="controlsAscx1111_lblNumAcessos">20</span>
                                                                        <span class="fonte-07" id="controlsAscx1111_Label2"> vezes</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" class="background-05" colspan="4">
                                                                        <span class="fonte-07" id="controlsAscx1111_lblDataUltimo">Último Acesso: 07/03/2019 às 12:25:55</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table width="100%" id="Table2" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="15%" align="right" valign="top"></td>
                                                                    <td width="15%" valign="top"></td>
                                                                    <td width="70%" align="right" valign="top" colspan="2">
                                                                        <a class="botao-02" id="controlsAscx1111_lkbInfoAcesso" style="display:inline-block;font-size:8pt;width:100%;" href="javascript:__doPostBack('controlsAscx1111$lkbInfoAcesso','')">Informações de Acesso&gt;&gt;</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table width="100%" align="right" id="Table4" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div><div class="flexcontainer" id="pnlAscx113">
                                                <div class="background-01" id="panel113">
                                                    <table style="height:5px;width:100%;" border="0">
                                                        <tbody>
                                                            <tr valign="middle">
                                                                <td align="left" style="width:90%;"><span class="fonte-04AB" id="lblTitulo113">Informe rendtos</span></td>
                                                                <td align="right" style="width:10%;"><input name="popHyp113" title="Informações da PageLet" id="popHyp113" style="border-width:0px;" onclick="javascript:window.open('https://www.portaldorh.com.br/Portal_GPCS/Auto_Info.aspx?nCodItem=3&amp;nCodSubItem=0&amp;nCodMod=1', '', 'width=300, height=215 left=30, top30');" type="image" src="images/info.gif"><img id="imgPopButVazio113" style="height:2px;border-width:0px;" src="vazio.gif"><input name="minmax113" title="Minimizar" id="minmax113" style="border-width:0px;" type="image" src="images/minimizar.gif" idflexpage="113" buttonname="minmax113" url="Auto_PgLetInformeRendtos.ascx" status="1" subitem="0" coditem="3" codmod="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><div class="flexareaEsquerdo" id="ascx113" status="1">
                                                    <div id="controlsAscx113_pnlInformeRendtos" style="width:90%;text-align:center;">

                                                        <div id="controlsAscx113_Panel2" style="width:100%;text-align:left;">
                                                            &nbsp;
                                                            <span class="fonte-07" id="controlsAscx113_Label1" style="display:inline-block;width:104px;">Selecione o ano:</span>&nbsp;
                                                            <select name="controlsAscx113$cboAno" disabled="disabled" class="fonte-07" id="controlsAscx113_cboAno" style="width:100%;"></select><br>&nbsp;
                                                            <input name="controlsAscx113$btnCompRendtosConsultar" disabled="disabled" class="botao-03" id="controlsAscx113_btnCompRendtosConsultar" type="submit" value="Emitir">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="flexcontainer" id="pnlAscx117">
                                                <div class="background-01" id="panel117">
                                                    <table style="height:5px;width:100%;" border="0">
                                                        <tbody>
                                                            <tr valign="middle">
                                                                <td align="left" style="width:90%;"><span class="fonte-04AB" id="lblTitulo117">Links favoritos</span></td>
                                                                <td align="right" style="width:10%;"><input name="popHyp117" title="Informações da PageLet" id="popHyp117" style="border-width:0px;" onclick="javascript:window.open('https://www.portaldorh.com.br/Portal_GPCS/Auto_Info.aspx?nCodItem=7&amp;nCodSubItem=0&amp;nCodMod=1', '', 'width=300, height=215 left=30, top30');" type="image" src="images/info.gif"><img id="imgPopButVazio117" style="height:2px;border-width:0px;" src="vazio.gif"><input name="minmax117" title="Minimizar" id="minmax117" style="border-width:0px;" type="image" src="images/minimizar.gif" idflexpage="117" buttonname="minmax117" url="Auto_PgLetLinksFavoritos.ascx" status="1" subitem="0" coditem="7" codmod="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><div class="flexareaEsquerdo" id="ascx117" status="1">
                                                    <div id="controlsAscx117_pnlfavoritos_minimizar" style="height:35px;width:100%;">
                                                        <table style="width:100%;" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="right" class="background-05"><a title="Editar Favoritos" class="botao-02" href="Auto_EditFavoritos.aspx" target="_self">Editar Favoritos</a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="5">
                                        <img id="Image7" style="height:5px;width:5px;border-width:0px;" src="images/vazio.gif">
                                    </td>
                                    <td width="100%" align="left" valign="top">
                                        <div id="pnlDireito" style="height:18px;width:100%;">
                                            <div class="flexcontainer" id="pnlAscx119901">
                                                <div class="background-01" id="panel119901">
                                                    <table style="height:5px;width:100%;" border="0">
                                                        <tbody>
                                                            <tr valign="middle">
                                                                <td align="left" style="width:90%;"><span class="fonte-04AB" id="lblTitulo119901">Meus Dados Pessoais</span></td>
                                                                <td align="right" style="width:10%;"><input name="popHyp119901" title="Informações da PageLet" id="popHyp119901" style="border-width:0px;" onclick="javascript:window.open('https://www.portaldorh.com.br/Portal_GPCS/Auto_Info.aspx?nCodItem=9901&amp;nCodSubItem=0&amp;nCodMod=1', '', 'width=300, height=215 left=30, top30');" type="image" src="images/info.gif"><img id="imgPopButVazio119901" style="height:2px;border-width:0px;" src="vazio.gif"><input name="minmax119901" title="Minimizar" id="minmax119901" style="border-width:0px;" type="image" src="images/minimizar.gif" idflexpage="119901" buttonname="minmax119901" url="Auto_PgLetMeusDadosPessoais.ascx" status="1" subitem="0" coditem="9901" codmod="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><div class="flexarea" id="ascx119901" status="1">
                                                    <div id="controlsAscx119901_Panel1" style="text-align:center;">

                                                        <div id="controlsAscx119901_Panel4" style="width:96%;text-align:right;">


                                                            <br>




                                                            <div id="controlsAscx119901_Panel2">

                                                                <table width="100%" id="Table1" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="1%" align="right" valign="top"></td>
                                                                            <td width="99%" align="left" valign="top">
                                                                                <div id="controlsAscx119901_pnlDadosFuncionario" style="height:96px;width:100%;">

                                                                                    <table class="fonte-07" id="controlsAscx119901_tblDadosFuncionario" style="width:100%;" border="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td class="bg-dfe">Nome: </td>
                                                                                                <td class="background-05">UIRA PEIXOTO DE OLIVEIRA</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td class="bg-dfe">Data de admissão: </td>
                                                                                                <td class="background-05">05/02/2018</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td class="bg-dfe">Data limite para férias: </td>
                                                                                                <td class="background-05">06/01/2020</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td class="bg-dfe">Grupo hierárquico: </td>
                                                                                                <td class="background-05">1.02.12.01.02.01.01.02.01.01.01 - INOV TEC</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>

                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                            <br>

                                                            <br>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="flexcontainer" id="pnlAscx116">
                                                <div class="background-01" id="panel116">
                                                    <table style="height:5px;width:100%;" border="0">
                                                        <tbody>
                                                            <tr valign="middle">
                                                                <td align="left" style="width:90%;"><span class="fonte-04AB" id="lblTitulo116">Ficha cadastral</span></td>
                                                                <td align="right" style="width:10%;"><input name="popHyp116" title="Informações da PageLet" id="popHyp116" style="border-width:0px;" onclick="javascript:window.open('https://www.portaldorh.com.br/Portal_GPCS/Auto_Info.aspx?nCodItem=6&amp;nCodSubItem=0&amp;nCodMod=1', '', 'width=300, height=215 left=30, top30');" type="image" src="images/info.gif"><img id="imgPopButVazio116" style="height:2px;border-width:0px;" src="vazio.gif"><input name="minmax116" title="Minimizar" id="minmax116" style="border-width:0px;" type="image" src="images/minimizar.gif" idflexpage="116" buttonname="minmax116" url="Auto_PgLetFichaCadastral.ascx" status="1" subitem="0" coditem="6" codmod="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><div class="flexarea" id="ascx116" status="1">
                                                    <div id="controlsAscx116_Panel1" style="width:100%;">

                                                        <table width="100%" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="15%" align="center">
                                                                        <a class="fonte-07" id="controlsAscx116_HypEmprImage" href="FrameFichaCad.aspx?cod=2&amp;codSub=5"><img style="border-width:0px;" src="images/ico_002.gif"></a>
                                                                    </td>
                                                                    <td width="15%" align="center">
                                                                        <a class="fonte-07" id="controlsAscx116_hypDependImage" href="auto_dependentes.aspx?cod=3&amp;codSub=0"><img style="border-width:0px;" src="images/ico_003.gif"></a>
                                                                    </td>
                                                                    <td width="15%" align="center">
                                                                        <a class="fonte-07" id="controlsAscx116_hypPensionImage" href="auto_pensionistas.aspx?cod=4&amp;codSub=0"><img style="border-width:0px;" src="images/ico_005.gif"></a>
                                                                    </td>
                                                                    <td width="55%"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="15%" align="center">
                                                                        <a class="fonte-07" id="controlsAscx116_hypEmprText" href="FrameFichaCad.aspx?cod=2&amp;codSub=5">Funcionário</a>
                                                                    </td>
                                                                    <td width="15%" align="center">
                                                                        <a class="fonte-07" id="controlsAscx116_hypDependText" href="auto_dependentes.aspx?cod=3&amp;codSub=0">Dependente(s)</a>
                                                                    </td>
                                                                    <td width="15%" align="center">
                                                                        <a class="fonte-07" id="controlsAscx116_hypPensionText" href="auto_pensionistas.aspx?cod=4&amp;codSub=0">Pensionista(s)</a>
                                                                    </td>
                                                                    <td width="55%"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div><div class="flexcontainer" id="pnlFlexPage1110002">
                                                <div class="background-01" id="panel1110002">
                                                    <table style="height:5px;width:100%;" border="0">
                                                        <tbody>
                                                            <tr valign="middle">
                                                                <td align="left" style="width:90%;"><span class="fonte-04AB" id="lblTitulo1110002">Manuais de Utilização</span></td>
                                                                <td align="right" style="width:10%;"><input name="popHyp1110002" title="Informações da PageLet" id="popHyp1110002" style="border-width:0px;" onclick="javascript:window.open('https://www.portaldorh.com.br/Portal_GPCS/Auto_Info.aspx?nCodItem=10002&amp;nCodSubItem=0&amp;nCodMod=1', '', 'width=300, height=215 left=30, top30');" type="image" src="images/info.gif"><img id="imgPopButVazio1110002" style="height:2px;border-width:0px;" src="vazio.gif"><input name="minmax1110002" title="Minimizar" id="minmax1110002" style="border-width:0px;" type="image" src="images/minimizar.gif" idflexpage="1110002" buttonname="minmax1110002" url="" status="1" subitem="0" coditem="10002" codmod="1"><input name="btnscr1110002" title="Barra de Rolagem" id="btnscr1110002" style="border-width:0px;" type="image" src="images/barrra_rolagem.gif" idflexpage="1110002" buttonname="btnscr1110002" url="" status="1" subitem="0" coditem="10002" codmod="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><div class="flexarea" id="ascx1110002" status="1">
                                                    <div class="flexobjeto2">
                                                        <a href="http://www.portaldorh.com.br/portal_gpcs/Manual_Portal_RH_Auto_Atendimento.pdf" target="_blank"><img style="border-width:0px;" src="loads/231465465146546.jpg"></a><a title="Manual de Utilização" href="http://www.portaldorh.com.br/portal_gpcs/Manual_Portal_RH_Auto_Atendimento.pdf" target="_blank"><br>Manual de Utilização </a>
                                                    </div><div class="flexobjeto2">
                                                        <a href="http://www.portaldorh.com.br/portal_gpcs/Dicas_de_Utilizacao_Portal_RH.pdf" target="_blank"><img style="border-width:0px;" src="loads/5649843621654.jpg"></a><a title="Portal RH - Dicas de Utilização" href="http://www.portaldorh.com.br/portal_gpcs/Dicas_de_Utilizacao_Portal_RH.pdf" target="_blank"><br>Portal RH - Dicas de Utilização </a>
                                                    </div>
                                                </div>
                                            </div><div class="flexcontainer" id="pnlAscx118">
                                                <div class="background-01" id="panel118">
                                                    <table style="height:5px;width:100%;" border="0">
                                                        <tbody>
                                                            <tr valign="middle">
                                                                <td align="left" style="width:90%;"><span class="fonte-04AB" id="lblTitulo118">Movimentações</span></td>
                                                                <td align="right" style="width:10%;"><input name="popHyp118" title="Informações da PageLet" id="popHyp118" style="border-width:0px;" onclick="javascript:window.open('https://www.portaldorh.com.br/Portal_GPCS/Auto_Info.aspx?nCodItem=8&amp;nCodSubItem=0&amp;nCodMod=1', '', 'width=300, height=215 left=30, top30');" type="image" src="images/info.gif"><img id="imgPopButVazio118" style="height:2px;border-width:0px;" src="vazio.gif"><input name="minmax118" title="Minimizar" id="minmax118" style="border-width:0px;" type="image" src="images/minimizar.gif" idflexpage="118" buttonname="minmax118" url="Auto_PgLetMovimentacoes.ascx" status="1" subitem="0" coditem="8" codmod="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><div class="flexarea" id="ascx118" status="1">
                                                    <div id="Movimentações_pnlMovimentacoes_minimizar" style="width:100%;text-align:left;">

                                                        <table width="100%" id="Table53" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" valign="middle">
                                                                        <table width="100%" id="Table54" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                            <tbody>
                                                                                                <tr align="center" width="100%">
                                                                                                    <td width="15%" align="center" valign="top">
                                                                                                        <a id="Movimentações_HypImgMovimentacoes" href="Auto_Movimentacoes.aspx"><img style="border-width:0px;" src="images/ico_001.gif"></a>
                                                                                                    </td>
                                                                                                    <td width="15%" align="center" valign="top">
                                                                                                        <a id="Movimentações_hypImgAtCTrab" href="Auto_MovCartTrab.aspx"><img style="border-width:0px;" src="images/ico_atctrab.gif"></a>
                                                                                                    </td>
                                                                                                    <td width="15%" align="center" valign="top">
                                                                                                        <a id="Movimentações_HypImgAvisFerias" href="Auto_AvisoFerias.aspx"><img style="border-width:0px;" src="images/Aviso_de_Ferias.gif"></a>
                                                                                                    </td>
                                                                                                    <td width="15%" align="center" valign="top"></td>
                                                                                                    <td width="55%"></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                            <tbody>
                                                                                                <tr align="center" width="100%">
                                                                                                    <td width="15%" align="center" valign="top">
                                                                                                        <a class="fonte-07Tela" id="Movimentações_HypMovimentacoes" href="Auto_Movimentacoes.aspx">Movimentações</a>
                                                                                                    </td>
                                                                                                    <td width="15%" align="center" valign="top">
                                                                                                        <a class="fonte-07Tela" id="Movimentações_hypAtCTrab" style="display:inline-block;height:34px;" href="Auto_MovCartTrab.aspx">Atualização da carteira de trabalho</a>
                                                                                                    </td>
                                                                                                    <td width="15%" align="center" valign="top">
                                                                                                        <a class="fonte-07Tela" id="Movimentações_HypAvisoFerias" style="display:inline-block;height:34px;" href="Auto_AvisoFerias.aspx">Aviso de Férias</a>
                                                                                                    </td>
                                                                                                    <td width="15%" align="center" valign="top"></td>
                                                                                                    <td width="55%"></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div><div class="flexcontainer" id="pnlAscx114">
                                                <div class="background-01" id="panel114">
                                                    <table style="height:5px;width:100%;" border="0">
                                                        <tbody>
                                                            <tr valign="middle">
                                                                <td align="left" style="width:90%;"><span class="fonte-04AB" id="lblTitulo114">Outros serviços</span></td>
                                                                <td align="right" style="width:10%;"><input name="popHyp114" title="Informações da PageLet" id="popHyp114" style="border-width:0px;" onclick="javascript:window.open('https://www.portaldorh.com.br/Portal_GPCS/Auto_Info.aspx?nCodItem=4&amp;nCodSubItem=0&amp;nCodMod=1', '', 'width=300, height=215 left=30, top30');" type="image" src="images/info.gif"><img id="imgPopButVazio114" style="height:2px;border-width:0px;" src="vazio.gif"><input name="minmax114" title="Minimizar" id="minmax114" style="border-width:0px;" type="image" src="images/minimizar.gif" idflexpage="114" buttonname="minmax114" url="Auto_PgLetAlterarSenha.ascx" status="1" subitem="0" coditem="4" codmod="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><div class="flexarea" id="ascx114" status="1">
                                                    <div id="controlsAscx114_Panel1" style="height:65px;width:100%;">

                                                        <table width="100%" id="Table1" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="15%" align="center" valign="top">
                                                                        <a class="fonte-07" id="controlsAscx114_hypImgAlterarSenha" href="Auto_AlteraSenha.aspx"><img style="border-width:0px;" src="images/ico_004.gif"></a>
                                                                    </td>
                                                                    <td width="15%" align="center" valign="top"></td>
                                                                    <td width="85%"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="15%" align="center" valign="top">
                                                                        <a class="fonte-07" id="controlsAscx114_hypLinkAlterarSenha" href="Auto_AlteraSenha.aspx">Alterar senha</a>
                                                                    </td>
                                                                    <td width="15%" align="center" valign="top"></td>
                                                                    <td width="85%"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div><div class="flexcontainer" id="pnlAscx1110006">
                                                <div class="background-01" id="panel1110006">
                                                    <table style="height:5px;width:100%;" border="0">
                                                        <tbody>
                                                            <tr valign="middle">
                                                                <td align="left" style="width:90%;"><span class="fonte-04AB" id="lblTitulo1110006">Ponto Web Funcionário</span></td>
                                                                <td align="right" style="width:10%;"><input name="popHyp1110006" title="Informações da PageLet" id="popHyp1110006" style="border-width:0px;" onclick="javascript:window.open('https://www.portaldorh.com.br/Portal_GPCS/Auto_Info.aspx?nCodItem=10006&amp;nCodSubItem=0&amp;nCodMod=1', '', 'width=300, height=215 left=30, top30');" type="image" src="images/info.gif"><img id="imgPopButVazio1110006" style="height:2px;border-width:0px;" src="vazio.gif"><input name="minmax1110006" title="Minimizar" id="minmax1110006" style="border-width:0px;" type="image" src="images/minimizar.gif" idflexpage="1110006" buttonname="minmax1110006" url="Propay_Portal_Ponto_Fucionario.ascx" status="1" subitem="0" coditem="10006" codmod="1"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><div class="flexarea" id="ascx1110006" status="1">

                                                    <!-- FlexPage gerada automaticamente - GeraFlexPage -->
                                                    <script>function AbrirJanela(endPagina, idPagina, largura, altura)
	{
		window.open(endPagina, "", "width=" + largura + " height=" + altura)
	}

	function Redirecionar(pagina)
	{
		if (pagina != "")
		{
			document.getElementById("PG").value = pagina;
			var acaoFormNorber = document.forms[0].action;
			var targeFormNorber = document.forms[0].target;
			document.forms[0].action = "NORBER_Opcoes_Just.aspx";
			document.forms[0].target = "_blank";
			document.forms[0].submit();
			document.forms[0].action = acaoFormNorber;
			document.forms[0].target = targeFormNorber;
		}
		else
		{
			alert("Não há uma página de destino definida para o link!");
		}
	}</script>
                                                    <input name="PG" id="PG" type="hidden" value="just_user/justuser.asp">
                                                    <table id="Table1" style="text-align:center" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="WIDTH: 5px"></td>
                                                                <td style="WIDTH: 99px">
                                                                    <a href="javascript:Redirecionar('just_user/IncluirMarcacaoOnLine.asp');">
                                                                        <img src="NORBER/images/bt3_justificativa_usuario.gif" border="0">
                                                                    </a>

                                                                </td>
                                                                <td style="WIDTH: 99px">
                                                                    <a href="javascript:Redirecionar('just_user/justuser.asp');">
                                                                        <img src="NORBER/images/bt3_justificativa_usuario.gif" border="0">
                                                                    </a>



                                                                </td>
                                                                <td style="WIDTH: 99px">
                                                                    <a href="javascript:Redirecionar('Relatorios/SolicitaRelatorio.asp?Relatorio=RELRB03');">
                                                                        <img src="NORBER/images/bt3_relatorio.gif" border="0">
                                                                    </a>

                                                                </td>

                                                                <td style="WIDTH: 99px">
                                                                    <a id="controlsAscx1110006_HyperLink_Norber104" href="javascript:AbrirJanela('FiltrarEmpresas.aspx', 'FiltrarEmpresas', '618', '480', 'yes');"><img style="border-width:0px;" alt="HyperLink" src="norber/images/bt3_justificativa_usuario.gif"></a>

                                                                </td>


                                                            </tr>
                                                            <tr>
                                                                <td style="WIDTH: 5px"></td>
                                                                <td style="WIDTH: 99px">
                                                                    <a class="fonte-07" href="javascript:Redirecionar('just_user/IncluirMarcacaoOnLine.asp');">
                                                                        Marcação do Ponto
                                                                    </a>

                                                                </td>
                                                                <td style="WIDTH: 99px">
                                                                    <a class="fonte-07" href="javascript:Redirecionar('just_user/justuser.asp');">
                                                                        Justificativa do Usuário
                                                                    </a>


                                                                </td>
                                                                <td style="WIDTH: 99px">
                                                                    <a class="fonte-07" href="javascript:Redirecionar('Relatorios/SolicitaRelatorio.asp?Relatorio=RELRB03');">
                                                                        Cartão de Ponto
                                                                    </a>

                                                                </td>
                                                                <td style="WIDTH: 99px">
                                                                    <a class="fonte-07" id="controlsAscx1110006_HyperLink_FiltrarEmpresas" href="javascript:AbrirJanela('FiltrarEmpresas.aspx', 'FiltrarEmpresas', '618', '480', 'yes');">Filtrar Empresas</a>


                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="5"><img id="Image20" style="height:5px;width:5px;border-width:0px;" src="images/vazio.gif"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <input name="scrollLeft" id="scrollLeft" type="hidden" value="0"><input name="scrollTop" id="scrollTop" type="hidden" value="0">

        <!-- sstchur.web.SmartNav.SmartScroller ASP.NET Generated Code -->
        <script language="javascript"><!--
  function sstchur_SmartScroller_GetCoords()
  {
    var scrollX, scrollY;
    if (document.all)
    {
      if (!document.documentElement.scrollLeft)
        scrollX = document.body.scrollLeft;
      else
        scrollX = document.documentElement.scrollLeft;

      if (!document.documentElement.scrollTop)
        scrollY = document.body.scrollTop;
      else
        scrollY = document.documentElement.scrollTop;
    }
    else
    {
      scrollX = window.pageXOffset;
      scrollY = window.pageYOffset;
    }
    document.forms["Form1"].scrollLeft.value = scrollX;
    document.forms["Form1"].scrollTop.value = scrollY;
  }


  function sstchur_SmartScroller_Scroll()
  {
    var x = document.forms["Form1"].scrollLeft.value;
    var y = document.forms["Form1"].scrollTop.value;
    window.scrollTo(x, y);
  }


  window.onload = sstchur_SmartScroller_Scroll;
  window.onscroll = sstchur_SmartScroller_GetCoords;
  window.onclick = sstchur_SmartScroller_GetCoords;
  window.onkeypress = sstchur_SmartScroller_GetCoords;
// --></script>
        <!-- End sstchur.web.SmartNav.SmartScroller ASP.NET Generated Code -->
    </form>

</body>